.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #2d3a35;
}
.count {
  color: #c20a72;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
.button {
  cursor: pointer;
  outline: none;
  background-color: #007bff;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  height: 30px;
  width: 80px;
  font-size: 11px;
  font-weight: 500;
}
